html {
    
}

body {
    width: 700px;
    padding: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  
}

body {
    text-align: center;
    font-family: Impact sans-serif;
}

body {
    border: 30px dashed brown;
    background-color: burlywood;
}

h1 {
    font-size: 36pt;
    color: #DC143C;
    border-top: 5px dashed #686143;
    border-bottom: 5px dashed #686143;
    border-left: 5px dashed #686143;
    border-right: 5px dashed #686143;
}

