html {
    
}

body {
    width: 700px;
    padding: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  
}

body {
    text-align: center;
    font-family: Impact sans-serif;
}

body {
    border: 30px dotted white;
    background-color: bisque;
}

h1 {
    font-size: 36pt;
    color: #000;
    border-top: 2px dotted #686143;
    border-bottom: 2px dotted #686143;
    text-transform: uppercase;
}

